header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-inline: 200px
}

img{
    height: 50px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

nav a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    padding: 5px;
    margin: 2px;
    /* border: solid 1px #000; */
    /* border-radius: 5px; */
}


@media screen and (max-width: 768px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        margin-inline: 5px
    }
    
    img{
        height: 50px;
    }
    
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        flex-wrap: wrap;
    }
    
    nav a{
        text-decoration: none;
        color: #000;
        font-size: 1rem;
        padding: 5px;
        margin: 2px;
        /* border: solid 1px #000; */
        /* border-radius: 5px; */
    }
    
}